<%= content_for :events do %>
  <%@events.each do |event| %>
    <ul class="nav nav-pills tabs-left">
      <li id="event_<%= event.id %>" class="<%= 'active' if event == @event %>" > <%= link_to event.name, event_path(event), remote: true %></li>
    </ul>
  <% end %>
<% end %>

<%= content_for :content do %>
  <div class="tab-pane active" id='event_details' > <%= render 'form' %> </div>
  <div class="tab-pane" id="event_members" > <%= render 'members' %> </div>
  <div class="tab-pane" id="event_gifts" > <%= render 'gifts' %> </div>
<% end %>
